nav {
    background-color: #4b0826;
}


.img-bg {
    background-image: url('../src/img/html-color-codes-color-tutorials-hero-00e10b1f.jpg');
    background-size: cover;
}


.btn-new {
    background-color: #4b0826;
    border-color: #4b0826;
}

.btn-new:hover {
    background-color: #8c193a;
    border-color: #8c193a;
}

.featurette-heading {
    margin-top: 10px;
}

.col-md-5 {
    min-height: 100px;
}
